.logo {
    font-size: 2em;
    font-weight: 1000;
    color: rgb(9, 9, 75);
    text-decoration: none;
    padding-left: 1em;
}

.top-nav{
    box-shadow: 1px 1px 3px gray, 1px 1px 3px gray;
    position: absolute;
    z-index: 2;
    height: 50px;
    min-width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-content,.logo{
    display: inline;
}

.signup,.about,.contact,.login,.welcome,.logout,.cart{
    font-size: 1.2em;
    text-decoration: none;
    color: rgb(9, 9, 75);
    padding-left: 0.9em;
    padding-right: 0.9em;
}

.signup:hover,.about:hover,.contact:hover,.login:hover,.welcome:hover,.logout:hover,.cart:hover{
    font-size: 1.2em;
    border-bottom: 0.2em solid rgb(5, 5, 146);
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.6em;
}